<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.can.eventbus" >


    <application
        >

        <activity android:name=".ui.TestActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.SecondActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
