<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.can.canutils">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.NavigationActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!--首页-->
        <activity android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"/>

        <!--登录-->
        <activity android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            />

        <!--生成二维码-->
        <activity android:name=".ui.QRCodeActivity"
            android:screenOrientation="portrait"/>

        <!--模拟请求数据-->
        <activity android:name=".ui.SimulationDataActivity"
            android:screenOrientation="portrait"/>

        <!--竖直ViewPager-->
        <activity android:name=".ui.VerticalViewPagerActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>